{% extends "base.html" %}

{% block content %}
<div class="row mt-5">
    <div class="col-md-8">
        <form class="form-group" method="POST">
            <h4>Predict tweet affect on market</h4>
            {% with errors = form.tweet_content.errors %}
            {% if errors %}
            <div class="alert alert-warning" role="alert"> {{ errors|join("\n") }}</div>
            {% endif %}
            {% endwith %}

            {{ form.csrf_token }}
            {{ form.tweet_content(class_="form-control ", id="tweet_input_form" , rows="3") }}
            <input class="btn btn-primary my-2 my-sm-0 float-md-right" id="submit-btn" type="submit" aria-label="Submit"
                   style="margin-top: 5px;">
        </form>


        <p>{{ currency_details.name }} change predicting model build on {{ currency_details.nr_tweets }}  tweets
            and {{ currency_details.nr_features }}  features.</p>
        <p>{{ currency_details.test_accuracy }} train accuracy, {{ currency_details.train_accuracy }} train accuracy,
            {{ currency_details.base_rate_accuracy }}  base rate accuracy. </p>
    </div>
    <div class="col-md-4">
        {% if prediction|length %}
        <div class="alert alert-warning">
            {% for key, value in prediction.items() %}
            <p>{{ key }} : {{ value }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <h4>Tweets affect on {{ currency_details.name }} </h4>

        <script type="text/javascript">
                {% include "mychart.js" %}
        </script>
        <canvas id="currencyChart" height="500"></canvas>

    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <h4>Features coefficiency</h4>
        <canvas id="featuresChart" height="500"></canvas>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">

        <table class="table">
            <h4>Rules extracted from tweets used to build a model</h4>
            <thead>
            <tr>
                {% for column in rules_data["columns"] %}
                <th scope="col">{{ column }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for rule_details in rules_data["data"] %}
            <tr>
                {% for detail in rule_details %}
                <td>{{ detail }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}