{% extends "base.html" %}

{% block content %}
<div class="container">
    <form class="form-group" method="POST">
        <h4>Put tweet content please</h4>
        {{ form.csrf_token }}
        {{ form.tweet_content(class_="form-control", rows="3") }}
        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" aria-label="Submit">
    </form>

    {% if sentiment %}
    <p>Sentiment : {{ sentiment }}</p>
    <p>Polarity : {{ polarity }}</p>
    {% endif %}
</div>
{% endblock %}